@import '../../style/themes/index';
@import '../../style/mixins/index';

@slideshow-prefix-cls: ~'@{zf-prefix}-slideshow';

.@{slideshow-prefix-cls} {
  .reset-component;

  position: relative;

  &-panel {
    display: inline-block;
    cursor: pointer;

    &-title {
      display: inline-block;
    }
    &-decoration {
      display: inline-block;
      margin-left: 5px;
    }
  }
  &-content {
    height: 300px;
    margin-top: 5px;
    overflow: hidden;
  }

  &-transition {
    transition: background 1s, height 1s, opacity 1s;
  }
  &-transition-appear,
  &-transition-enter {
    opacity: 0;
  }
  &-transition-appear&-transition-appear-active,
  &-transition-enter&-transition-enter-active {
    opacity: 1;
  }
  &-transition-leave-active {
    opacity: 0;
  }
}
